Service Descriptors/UpdateBooking.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.mgr.pw.pl/CarHire/UpdateBooking" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:ttns="http://mgr/carhire" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarHire" targetNamespace="http://www.mgr.pw.pl/CarHire/UpdateBooking" tibex:ServiceTask="_eHexgP8xEeehz8elB3v-pA" tibex:XPDL="CarHireServices.xpdl" tibex:process="_NNe4sPoGEeeGs-PDHTbgtA">
  <wsdl:types>
    <xsd:schema xmlns="http://www.mgr.pw.pl/CarHire/UpdateBooking" targetNamespace="http://www.mgr.pw.pl/CarHire/UpdateBooking"/>
    <xsd:schema xmlns="http://mgr/carhire" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://mgr/carhire" targetNamespace="http://mgr/carhire">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/CarHire/Data Model/CarHire.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType name="bookingState">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NEW"/>
          <xsd:enumeration value="INPROGRESS"/>
          <xsd:enumeration value="CLOSED"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="CustomerData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="id">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="name">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="surname">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="address">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="credit">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="10"/>
                <xsd:fractionDigits value="2"/>
                <xsd:pattern value="[+-]?([1-9][0-9]{0,7}|0)(\.[0-9]{0,2})?"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CarData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="id">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="costPerDay">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="10"/>
                <xsd:fractionDigits value="2"/>
                <xsd:pattern value="[+-]?([1-9][0-9]{0,7}|0)(\.[0-9]{0,2})?"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="name">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="manufacturer">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="class1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="horsepower" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="seats" type="xsd:int"/>
          <xsd:element default="false" maxOccurs="1" minOccurs="0" name="isDamaged" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Booking">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="bookingRef">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="carId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="customerId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="dateFrom" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="dateTo" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="state" type="bookingState"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Cars">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="cars" type="CarData"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="bookingStateElement">
        <xsd:simpleType>
          <xsd:restriction base="bookingState"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CustomerDataElement" type="CustomerData"/>
      <xsd:element name="CarDataElement" type="CarData"/>
      <xsd:element name="BookingElement" type="Booking"/>
      <xsd:element name="CarsElement" type="Cars"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UpdateBooking_UpdateBooking_INPUT">
    <wsdl:part name="Booking" type="ttns:Booking"/>
  </wsdl:message>
  <wsdl:message name="UpdateBooking_UpdateBooking_OUTPUT">
    <wsdl:part name="Booking" type="ttns:Booking"/>
  </wsdl:message>
  <wsdl:portType name="UpdateBooking" tibex:FlowContainer="_NNe4sPoGEeeGs-PDHTbgtA">
    <wsdl:operation name="UpdateBooking">
      <wsdl:input message="ns:UpdateBooking_UpdateBooking_INPUT" tibex:Event="_eHexgP8xEeehz8elB3v-pA"/>
      <wsdl:output message="ns:UpdateBooking_UpdateBooking_OUTPUT" tibex:Event="_eHexgP8xEeehz8elB3v-pA"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateBookingSOAP" type="ns:UpdateBooking">
    <binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="UpdateBooking">
      <operation soapAction="http://www.example.org//CarHire/UpdateBooking" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarHire">
    <wsdl:port binding="ns:UpdateBookingSOAP" name="UpdateBooking">
      <address location="http://www.example.org/" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
