Service Descriptors/UpdateCarData.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://www.mgr.pw.pl/CarHire/UpdateCarData" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:ttns="http://mgr/carhire" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarHire" targetNamespace="http://www.mgr.pw.pl/CarHire/UpdateCarData" tibex:ServiceTask="_YpVKIP9aEeehz8elB3v-pA" tibex:XPDL="CarHireServices.xpdl" tibex:process="_s5tu8vrMEee95b4_qDuZwA">
  <wsdl:types>
    <xsd:schema xmlns="http://www.mgr.pw.pl/CarHire/UpdateCarData" targetNamespace="http://www.mgr.pw.pl/CarHire/UpdateCarData"/>
    <xsd:schema xmlns="http://mgr/carhire" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:tns1="http://mgr/carhire" targetNamespace="http://mgr/carhire">
      <xsd:annotation>
        <xsd:documentation>
          <DocumentationElement BOMORIGIN="/CarHire/Data Model/CarHire.bom"/>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType name="bookingState">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NEW"/>
          <xsd:enumeration value="INPROGRESS"/>
          <xsd:enumeration value="CLOSED"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="CustomerData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="id">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="name">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="surname">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="address">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="credit" type="double_StudioGeneratedTemplate"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CarData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="id">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="costPerDay" type="double_StudioGeneratedTemplate"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="name">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="manufacturer">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="class1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="horsepower" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="seats" type="xsd:int"/>
          <xsd:element default="false" maxOccurs="1" minOccurs="0" name="isDamaged" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Booking">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="bookingRef">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="carId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="customerId">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="dateFrom" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="dateTo" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="state" type="bookingState"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="double_StudioGeneratedTemplate">
        <xsd:restriction base="xsd:double">
          <xsd:minInclusive value="-179.76931348623157E+306"/>
          <xsd:maxInclusive value="179.76931348623157E+306"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="bookingStateElement">
        <xsd:simpleType>
          <xsd:restriction base="bookingState"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CustomerDataElement" type="CustomerData"/>
      <xsd:element name="CarDataElement" type="CarData"/>
      <xsd:element name="BookingElement" type="Booking"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UpdateCarData_UpdateCarData_INPUT">
    <wsdl:part name="CarData" type="ttns:CarData"/>
  </wsdl:message>
  <wsdl:message name="UpdateCarData_UpdateCarData_OUTPUT">
    <wsdl:part name="CarData" type="ttns:CarData"/>
  </wsdl:message>
  <wsdl:portType name="UpdateCarData" tibex:FlowContainer="_s5tu8vrMEee95b4_qDuZwA">
    <wsdl:operation name="UpdateCarData">
      <wsdl:input message="ns:UpdateCarData_UpdateCarData_INPUT" tibex:Event="_YpVKIP9aEeehz8elB3v-pA"/>
      <wsdl:output message="ns:UpdateCarData_UpdateCarData_OUTPUT" tibex:Event="_YpVKIP9aEeehz8elB3v-pA"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
